<h1>Bienvenido Usuario Afiliado Page su Membresia Online</h1>
<div class="row">
  {{#each afiliados2 }}
    <div class="col-md-3">
        <div class="card">
        <div class="card-body">
            <h4 class="card-title d-flex justify-content-between align-items-center">
            {{ correo }}               
            </h4>
            <a href="/admin/cancelar_afiliado/{{_id}}"><i class="fas fa-edit"></i></a>

            {{#if vigente}}
                <a href="/admin/ver_afiliado/{{_id}}"><i class="fas fa-user-check"></i>Suscrito</a>
            {{else}}
                <i class="fas fa-user-slash"></i>No Suscrito
            {{/if }}
                
            

            <p> {{ nombres }},{{ apellidos }}, {{ dpi }},{{ rol }},{{ telefono }}, {{direccion}} </p>
            <!-- DELETE REQUEST -->
            <form action="/admin/ver_afiliado/{{_id}}" method="GET">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-success btn-block btn-sm">Pagar Membresia</button>
            </form>
            
        </div>
        </div>
    </div>
  {{/each}}
</div>